@model OnlineShop.Models.EF.User

@{
    ViewBag.Title = "Create new user";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using( Html.BeginForm( "CreateUserAction", "User", FormMethod.Post ) )
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary( true, "", new { @class = "text-danger" } )

    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group col-md-12">
                @Html.LabelFor( model => model.UserName )
                @Html.TextBoxFor( model => model.UserName, new { @class = "form-control text-box single-line" } )
                @Html.ValidationMessageFor( model => model.UserName, "", new { @class = "text-danger" } )
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group col-md-12">
                @Html.LabelFor( model => model.Password )
                @Html.TextBoxFor( model => model.Password, new { @class = "form-control text-box single-line", @type = "password" } )
                @Html.ValidationMessageFor( model => model.Password, "", new { @class = "text-danger" } )
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group col-md-12">
                @Html.LabelFor( model => model.Status )
                @Html.EditorFor( model => model.Status, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.Status, "", new { @class = "text-danger" } )
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group col-md-12">
                @Html.LabelFor( model => model.Nationality )
                @Html.DropDownListFor( model => model.Nationality, null, new { @class = "form-control text-box single-line" } )
                @Html.ValidationMessageFor( model => model.Nationality, "", new { @class = "text-danger" } )
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                @Html.LabelFor( model => model.Name )
                @Html.TextBoxFor( model => model.Name, new { @class = "form-control text-box single-line" } )
                @Html.ValidationMessageFor( model => model.Name, "", new { @class = "text-danger" } )
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group col-md-12">
                @Html.LabelFor( model => model.Address )
                @Html.TextBoxFor( model => model.Address, new { @class = "form-control text-box single-line" } )
                @Html.ValidationMessageFor( model => model.Address, "", new { @class = "text-danger" } )
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group col-md-12">
                @Html.LabelFor( model => model.Email )
                @Html.TextBoxFor( model => model.Email, new { @class = "form-control text-box single-line" } )
                @Html.ValidationMessageFor( model => model.Email, "", new { @class = "text-danger" } )
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group col-md-12">
                @Html.LabelFor( model => model.Phone )
                @Html.TextBoxFor( model => model.Phone, new { @class = "form-control text-box single-line" } )
                @Html.ValidationMessageFor( model => model.Phone, "", new { @class = "text-danger" } )
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}
